* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Ubuntu", sans-serif;

}

.head-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 18vh;
}

.hide {
  display: none;
}

.button-cla {
  margin-top: 1.2rem;
}
.header-text {
  font-size: 3.5rem;
  font-weight: 500;
}

.header-logo {
  height: 16rem;
}

.nextbtn {
  background-color: #403f4c;
  color: #5fbb97;
  padding: 13px;
  width: 15rem;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.15rem;
}

/* ------------Rules CSS------------- */
.rule-box {
  background-color: #403f4c;
  color: #5fbb97;
  min-height: 50vh;
  margin-top: 15vh;
  margin-bottom: 25vh;
  margin-left: 5vw;
  margin-right: 5vw;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.rule-title {
  font-size: 3rem;
  margin-top: 0.35rem;
}

.instructions {
  margin: 1.5rem;
}

li {
  margin: 1rem;
  font-size: 1rem;
  text-align: center;
}

.startbtn {
  background-color: #5fbb97;
  color: #403f4c;
  padding: 13px;
  width: 15rem;
  border: 0;
  border-radius: 15px;
  cursor: pointer;
  font-size: 1.15rem;
  margin-bottom: 1rem;
}
